---
const { adresse, nomMaison, nbChambres, nbSdb, prix, surface, imgUrl } =
    Astro.props;
---

<div
    class="bg-zinc-100 text-stone-700 border border-stone-500 rounded-lg shadow-lg p-6 flex flex-col items-center w-80 h-96"
>
    <img
        src={`/src/assets/${imgUrl}`}
        alt={nomMaison}
        class="w-full h-40 object-cover mb-4 rounded-md"
    />
    <h2 class="text-2xl font-bold mb-2">{nomMaison}</h2>
    <p class="text-sm mb-2">{adresse}</p>
    <p class="text-sm mb-2">{nbChambres} chambres, {nbSdb} salles de bain</p>
    <p class="text-sm mb-2">{surface} m²</p>
    <p class="text-lg font-semibold">{prix} €/mois</p>
</div>
